<h1>Sign In</h1>

<div class="form">

    <% if flash[:error_message].present? %>
        <div class="alert alert-danger" role="alert">
            <p><%= flash[:error_message] %></p>
        </div>
    <% end %>    

    <%= form_tag login_path do %>
        <div class="form-group">
            <%= label_tag :email, nil, :class => "form-center" %>
            <%= email_field_tag :email, nil, :class => "form-control form-center", :placeholder => "Enter email", :required => true %>
        </div>

        <div class="form-group">
            <%= label_tag :password, nil, :class => "form-center" %>
            <%= password_field_tag :password, nil, :class => "form-control form-center", :placeholder => "Password", :required => true %>
        </div>

        <%= submit_tag 'Sign In', :class => 'btn btn-secondary login mx-auto'%>

    <% end %> 

</div>   
