<h1><%= @product.name.capitalize %></h1>
<div class="show">
        <div class="show-item"><%= image_tag @product.image, :class => "feature" %></div>
        <p class="show-item desc"><%= @product.description %></p>
</div>

<div class="show">
    <h3 class="show-item price">$<%= @product.price %></h3>


    <button class="show-item"><%= link_to 'Add to Cart', carts_show_path %></button>


</div>