<h1><%= @product.name.capitalize %></h1>
<div class="show">
        <div class="show-item"><%= image_tag @product.image, :class => "feature" %></div>
        <p class="show-item desc"><%= @product.description %></p>
</div>

<div class="show">
    <h3 class="show-item price">$<%= @product.price %></h3>

    
   <p><%= form_for @order do |f| %>
        <%= f.label :date %>
        <%= f.date_field :date %>
        <%= f.hidden_field :confirmed, value: true %>

    <%= f.submit "Add to cart" %>
  <% end %></p>


</div>